{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block bodyHTML %}
    <div class="login-box">
        {% block error %}
            {% if error is not null %}
                {% if error.message == "Bad credentials." %}
                    <div class="alert alert-danger">
                        Wrong password or email. Check inputs and retry.
                    </div>
                {% endif %}
            {% endif %}
        {% endblock %}
        <div class="login-container">
            <form action="{{ path('login_check') }}" method="POST">

                <label for="email">Email </label>
                <input name="email" id="email" type="text" class="form-control" value="{{ lastUsername }}"/>

                <label for="password">Password </label>
                <input name="password" id="password" type="password" class="form-control"/>

                <div class="login-container-button">
                    <button type="submit" class="btn btn-primary login-button">Log in</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
